/* Roboto flex */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

:root{
    --fg-color: #FFFF80;
    --secondary-color: #ffff00;
    --bg-color: #004000;
}

*{
    color: var(--fg-color);
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96, /* Thick Stroke */
      "XTRA" 468, /* Counter Width */
      "YOPQ" 79, /* Thin Stroke */
      "YTAS" 750, /* Ascender Height */
      "YTDE" -203, /* Descender depth */
      "YTFI" 738, /* Figure height */
      "YTLC" 514, /* Lowercase height */
      "YTUC" 712; /* Uppercase height */

      :focus {
        border: none;
        border-radius: 10000px;
        outline: solid var(--fg-color);
        outline-width: 3px;
        outline-offset: 5px;
    }
}

body{   
    background: var(--bg-color);
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
    transition: outline-offset 1s cubic-bezier(.45,.05,.55,.95) 100ms, outline-width 1s cubic-bezier(.45,.05,.55,.95) 100ms;
    
    a:hover{
        outline-offset: 7px;
        outline-width: 5px;
    }
}


a:link {
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-style: solid;
    text-decoration-thickness: 0px;
    text-decoration-skip-ink: none;
    color: var(--secondary-color);

    transition: font-weight 0.15s cubic-bezier(.45,.05,.55,.95) 100ms, font-variation-settings 0.15s cubic-bezier(.45,.05,.55,.95) 100ms, text-decoration 0.15s cubic-bezier(.45,.05,.55,.95);

    font-weight: 600;
    font-variation-settings:
    "slnt" 0,
    "GRAD" 0,
    "YTAS" 750, /* Ascender Height */
    "YTDE" -203, /* Descender depth */
    "YTLC" 514, /* Lowercase height */
    "YTUC" 712; /* Uppercase height */
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-weight: 1000;
    font-variation-settings:
    "slnt" -2,
    "GRAD" 150,
    "YTAS" 854, /* Ascender Height */
    "YTDE" -305, /* Descender depth */
    "YTLC" 416, /* Lowercase height */
    "YTUC" 760; /* Uppercase height */


}

a:active {
    color: var(--fg-color);
}